$color1: green;
$color2: red;
$color3: blue;



body .container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: stretch;
    border: solid 1px $color2;
    h1 {
        text-align: center;
        text-decoration: underline;
        text-decoration-color: $color3;
        color: $color1;
    }
    .articles {
        display: flex;
        margin: 1rem;
        article {
            flex: 1;
            padding: 1rem;
            border: solid 1px $color1;
            &:nth-child(odd) {
                color: $color3;
            }
            &:nth-child(even) {
                color: $color2;
            }
        }
    }
}
