@function toRem ($value) {
    $converted: 0;
    /*check value's unit*/
    $unit: str-slice($value * 0 + "", 2);
    @if $unit == "px"{
        $converted: calc($value / 16px) + rem;
    } @else if $unit == "%" or $unit == "em" or $unit == "vh" or $unit == "vw"{
        $converted: $value;
        @warn "Use 'px' as unit to convert value in 'rem'";
    } @else if $unit == "rem"{
        $converted: $value;
    } @else {
        $converted: calc($value / 16) + rem;
    }
    @return $converted;
};